<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="./js/login.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>week 04 / Login Page</title>
</head>

<body class="bg--diagonal-line font-poppings">
    <div id="app" class="container-center h-screen flex fx-center">
        <div class="w-72 h-96 bg-white pacity-100 rounded-lg py-10 px-5 flex-col">
            <h5 class="text-xl text-white -mx-8 p-3 text-center drop-shadow-lg
                transition ease-in-out bg-blue-500 hover:bg-sky-500 duration-300">Hello Stranger</h5>
                <form action="" autocomplete="off" class="mt-10 text-gray-500" @submit.prevent="clickLogin">
                    <!-- submit 放在 <form> 裡面 -->
                    <label for="emailInput" class="floating-label mb-8">
                        <input type="email" id="emailInput" placeholder="abc@email.com" name="input-name"
                            class="floating-input peer" 
                            @focus="focusInput" v-model="loginUser.username" required> 
                        <span class="floating-assist"></span>
                        <span class="mt-2 warning-sentence">Please provide a valid email address.</span>
                    </label>

                    <label for="passwordInput" class="floating-label mb-12">
                        <toggle_icon class="absolute right-0 bottom-2" 
                            @emit_event="showPassword=!showPassword" 
                            :show_pwd="showPassword" 
                            img_url_a="images/visibility_black_24dp.svg"
                            img_url_b="images/visibility_off_black_24dp.svg"></toggle_icon>

                        <input :type="showPassword ? 'text':'password'" id="passwordInput" placeholder="Password" 
                            class="floating-input peer" @focus="focusInput" 
                            v-model="loginUser.password" required>
                        <span class="floating-assist"></span>
                    </label>
                    
    
                    <button 
                        type="submit" 
                        class="btn-rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 
                            ring-pink-500/50 mt-auto w-full hover:drop-shadow-lg transition-all">
                        {{ btnText }}
                    </button>
                </form>
                <p class="mt-2 text-xs text-red-500 text-center font-bold">{{ warning }}</p>
                
                <!-- <p class="mt-2 text-xs text-red-500 text-center font-bold">
                    登入失敗! 嘗試登入失敗次數過多，目前無法再登入，請稍後再回來
                </p> -->
    
        </div>
    </div>
</body>

</html>